#top-container {
  font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif;
  margin: auto;
}

.container {
  width: 800px;
}

.highlight {
  background-color: coral;
  min-height: 200px;
  min-width: 200px;
}

#parameters label {
  font-weight: bold;
}

.half {
  width: 400px;
}

.quarter {
  width: 200px;
}

.split5 {
  column-count: 5;
  text-align: center;
}

.split4 {
  column-count: 4;
  text-align: center;
}

.tag {
  font-size: 20px;
  font-weight: bold;
}

.lgnum {
  font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace;
  font-size: 35px;
  font-weight: bold;
}

#parameters input[type="text"] {
  float: right;
  width: 169px;
  padding-left: 2px;
  padding-right: 2px;
  border-width: 2px;
}

#parameters input.error {
  border-color: red;
}

#parameters input[type="checkbox"] {
  float: right;
  width: 13px;
  height: 13px;
  margin-right: 164px;
}

#parameters fieldset {
  padding: 5.6px 12px 10px 12px;
  border-width: 2px;
  margin-left: 2px;
}

#parameters fieldset.melt {
  border: none;
  padding: 7.6px 14px 12px 14px;
}

/*
#param button {
  border-width: 2px;
  margin-left: 2px;
}
*/

/*compromise*/
#parameters button {
  margin-left: 2px;
}

#parameters input {
  border-color: black;
}

.controls button {
  margin-left: 59px;
}

.menu {
  color:gray;
  text-decoration: underline;
}

.menu .active {
  color: black;
}

.invisible {
  visibility: hidden;
}

.visible {
  visibility: visible;
}

.remove {
  display: none;
}

.block {
  .display: block;
}

.melt {
  border: none;
}

.faded {
  color: lightgray;
}
